h1 {
    color:blue
 
}

h2{
    color: cadetblue;
}
h3{
    color: brown;
}
li{
    /*soluciona el problema de saltos de linea en listas ordenadas de hmtl5*/
  display: inline;
 /* display: inline-block;*/

   /* white-space: nowrap;*/
}